.form-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $text-color;
}

.form-header {
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $bg-color;
  @media (max-width: $screen-max-tablet) {
    font-size: 22px;
    white-space: nowrap;
  }
  @media (max-width: $screen-max-phone) {
    font-size: 14px;
    white-space: nowrap;
  }
}

.form-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// form grid
.form-main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 15px;
  @media (max-width: $screen-max-tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $screen-max-phone) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 10px;
  }
}
.form-main-image-div {
  overflow: hidden;
  height: 150px;
  width: 200px;
  @media (max-width: $screen-max-phone) {
    height: 100px;
    width: 150px;
  }
}
.form-main-image {
  height: 150px;
  width: 200px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.8;
  @media (max-width: $screen-max-phone) {
    object-fit: cover;
    height: 100px;
    width: 150px;
  }
}

.form-checkbox-label {
  font-weight: 700;
  color: $bg-color;
  margin: 5px 0;
}

.input-margin-bottom {
  margin-bottom: 50px;
}

input[type="checkbox"]:checked + span:not(.lever)::before {
  border: 2px solid transparent;
  border-bottom: 2px solid $bg-color;
  border-right: 2px solid $bg-color;
  background: transparent;
}

input[type="checkbox"] + span:not(.lever):before {
  border: 2px solid white;
}

.input-text {
  transition: all 0.6s ease !important;
  text-indent: 20px !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  color: $bg-color;
  @media (max-width: $screen-max-phone) {
    font-size: 14px !important;
    font-weight: 700;
  }
  &:focus {
    border: none !important;
    border-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

.input-header {
  font-size: 32px;
  font-weight: 900;
  @media (max-width: $screen-max-phone) {
    font-size: 22px;
    font-weight: 700;
  }
}

.input-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 18px;
  font-weight: 700;
  padding: 10px 50px;
  border-radius: 30px;
  color: $text-color;
  cursor: pointer;
  -webkit-box-shadow: -1px 10px 22px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 22px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 22px -8px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease;
  @media (max-width: $screen-max-phone) {
    font-size: 16px;
    padding: 5px 40px;
  }
}

.error-message {
  font-size: 16px;
  font-weight: 700;
  color: #96150f;
}

.form-button {
  margin-top: 20px;
  text-align: center;
}
