.form-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $text-color;
}

.form-header {
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $bg-color;
}

.form-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// form grid
.form-main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 15px;
}
.form-main-image-div {
  overflow: hidden;
  height: 150px;
  width: 200px;
}
.form-main-image {
  height: 150px;
  width: 200px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.8;
}

.form-checkbox-label {
  font-weight: 700;
  color: $bg-color;
  margin: 5px 0;
}

.btn-margin {
  margin: 30px 0;
}

.input-margin-bottom {
  margin-bottom: 50px;
}

input[type="checkbox"]:checked + span:not(.lever)::before {
  border: 2px solid transparent;
  border-bottom: 2px solid $bg-color;
  border-right: 2px solid $bg-color;
  background: transparent;
}

input[type="checkbox"] + span:not(.lever):before {
  border: 2px solid white;
}
