.home-inspire {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: left;
  opacity: 0;
  @media (max-width: $screen-max-tablet) {
    top: 35%;
    left: 50%;
    width: 80%;
    text-align: center;
  }
  @media (max-width: $screen-max-phone) {
    top: 35%;
    left: 50%;
    width: 80%;
    text-align: center;
  }
}

.home-inspire_header {
  font-size: 52px;
  font-weight: 700;
  margin: 20px 0;
  @media (max-width: $screen-max-tablet) {
    font-size: 32px;
    margin: 10px 0;
  }
  @media (max-width: $screen-max-phone) {
    font-size: 24px;
    margin: 0;
  }
}
.home-inspire_info {
  margin-top: 50px;
  color: lighten($text-color, 60%);
  font-weight: 700;
  line-height: 25px;
  @media (max-width: $screen-max-tablet) {
    font-size: 16px;
    line-height: 20px;
    word-wrap: wrap;
    text-align: center;
  }
  @media (max-width: $screen-max-phone) {
    font-size: 12px;
    line-height: 20px;
    word-wrap: wrap;
    text-align: center;
  }
}

.home-inspire_button-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
  @media (max-width: $screen-max-tablet) {
    justify-content: center;
  }
  @media (max-width: $screen-max-phone) {
    justify-content: center;
  }
}

.home-btn_bg {
  background-color: $secondary-color;
}

.home-btn {
  padding: 4%;
  border-radius: 30px;
  font-size: 22px;
  font-weight: 700;
  @media (max-width: $screen-max-tablet) {
    font-size: 20px;
    padding: 3%;
  }
  @media (max-width: $screen-max-phone) {
    font-size: 16px;
    padding: 2%;
  }
}

.home-image_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(10%, -50%);
  opacity: 0;
  @media (max-width: $screen-max-tablet) {
    transform: translate(-50%, 0);
  }
  @media (max-width: $screen-max-phone) {
    transform: translate(-50%, 0);
  }
}
.home-image {
  width: 550px;
  height: 550px;
  @media (max-width: $screen-max-tablet) {
    width: 400px;
    height: 400px;
  }
  @media (max-width: $screen-max-phone) {
    width: 250px;
    height: 250px;
  }
}

.animation-cover-left {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100%;
  background-color: $blueberry-color;
  z-index: 5;
}

.animation-cover-top {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -100%;
  left: 0;
  background-color: $secondary-color;
  z-index: 5;
}
