.my-nav {
  position: fixed;
  top: 0;
  left: 0;

  height: 70px;
  width: 100%;
  background-color: $bg-color-darker;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty-link.nav-link {
  font-weight: 700;
  margin: 0 5px;
  padding: 15px;
  border-radius: 30px;
  &:hover {
    transition: background-color 0.3s ease-in;
    background-color: $text-color;
    color: $bg-color-darker;
  }
}
