$bg-color: #fff0e8;
$bg-color-darker: #f2dfd5;
$text-color: #28293e;
$text-color-secondary: #a7aaff;
$secondary-color: #ff6f5a;
$blueberry-color: #4f86f7;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$screen-max-phone: 420px;
$screen-max-tablet: 1030px;
